<div class="clear"></div>
<div id="user_bar">
<%= link_to "HeArtMe",edit_user_path(current_user)%><br>
<%= link_to "New Blog",new_artical_path %><br>
<%= link_to "logout",logout_path %>
<%= link_to "Add",newimage_path %>
<%= link_to "Manage",images_path %>
</div>