<div id="header">
	<div id="micro-mss" class="round">
		<% if current_user %>
		<div class="mm"><%= current_user.micropost %></div>
		<% else %>
		<%= @user.micropost %>
		<% end %>
	</div>
	<% if current_user %>
	<div id="user-bar">
	<%= render :partial => 'users/user_bar'%>
	</div>
	<% else %>
		<iframe src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlq4ddm5uk744a9k7ueg0aueuuvs7gd38k77915olc3falpj6ceecer43q8krjjj5ak2rj7o6k5fjksvhc8rtdfh5quuvnc9m1mhpc84hsd1k5krtrigp17aqltf9ev8es99g1d9aimjpcjdr7phngbbie64an5dhem&amp;w=200&amp;h=60" frameborder="0" allowtransparency="true" width="200" height="60"></iframe>
	<% end %>
</div>
<div id="content" class="round">
	<%= render :partial=>'home/top_artical'%>
</div>
<div id="footer" class="round">
	<div class="left">
		<%= image_tag("Green.png",:title=>"Supported by Veggie,China",
		:alt=>"Supported by Veggie,China")%>	
	</div>
	<div class="right">
		<%= image_tag("logo.png",:title=>"waiting for you!",
		:alt=>"waiting for you!")%>
	</div>
	<div id="broadcast" class="round">
		<% if current_user %>
		<div class="bbc"><%= current_user.broadcast %></div>
		<% else %><%= @user.broadcast %><% end %>
	</div>
	<div id="contact">
		<%= link_to image_tag("Pisca.png",:class=>"link",:title => "我的相册",:alt=>"我的相册"),"http://picasaweb.google.it/kkxlkkxllb"%>		
		<%= link_to image_tag("Twitter.png",:class=>"link",:title =>"Twitter:@He_Art_Me",:alt=>"Twitter:@He_Art_Me"),"https://tuite.im/index.php"%> 		
		<%= link_to image_tag("Gmail.png",:class=>"link",:title =>"kkxlkkxllb@gmail.com",:alt=>"kkxlkkxllb@gmail.com"),"https://mail.google.com/mail/"%>
		<%= link_to image_tag("Firefox.png",:class=>"link",:title => "Firefox -Download",:alt=>"Firefox-Download"),"http://www.mozillaonline.com/"%>
		<%= link_to image_tag("Mush.png",:class=>"link",:title=>"Go to Rainbowmark",:alt=>"Go to Rainbowmark"),"http://rainbowmark.heroku.com"%>
		<%= audio_tag("http://m.6621.net/flash/player.swf?param=9eda1475240180a6", :autoplay => true)%>
	</div>
</div>
